body {
  font-family: sans-serif;
}

.dog {
  float: left;
  width: 40%;
  border: 2px solid black;
  margin: 2px;
  padding: 10px;
  box-sizing: border-box;
}

.parrot {
  float: right;
  width: 40%;
  border: 2px solid green;
  margin: 2px;
  padding: 10px;
  box-sizing: border-box;
}

.pig {
  float: left;
  width: 40%;
  border: 2px solid rgb(109, 106, 106);
  margin: 2px;
  padding: 10px;
  box-sizing: border-box;
}

.center {
  margin: auto;
  width: 50%;
  height: auto;
  display: block;
}

h2 {
  text-align: center;
}