body {
  font-family: sans-serif;
}

.animal h2, p, img {
  text-align: center;
  color: green;
  border-image-width: 1px;
}

.animal {
  float: left;
  width: 29%;
  margin: 14;
  padding: 1%;
  height: 350px;
  border: solid red;
  background-color: indianred;
}